<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= title %>
  </title>

  <!-- CSS Section -->
  <link rel="stylesheet" href="../lib/materialize/dist/css/materialize.min.css">
  <link rel="stylesheet" href="../lib/font-awesome/css/font-awesome.min.css">

  <!-- Custom CSS -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  
  <!-- JS -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="../lib/materialize/dist/js/materialize.min.js"></script>
  <script>
    $( document ).ready(function(
      $(".button-collapse").sideNav();
    ) {
        
    });
  </script>
  
</head>

<body class="bg">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">SURV-EZ.COM</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <!-- if displayName is set then display the admin nav -->
          <% if (displayName) { %>
            <% if(title == "Home" ) { %>
              <li class="active">
            <% } else { %>
              <li>
            <% } %>
                <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
              </li>
            <% if(title == "Users" ) { %>
              <li class="active">
            <% } else { %>
              <li>
            <% } %>
                <a href="/users">User List</a>
              </li>
            <% if(title == "Create Survey" ) { %>
              <li class="active">
            <% } else { %>
              <li>
            <% } %>
                <a href="#">Create Survey</a>
              </li>
            <% if(title == "View Survey" ) { %>
              <li class="active">
            <% } else { %>
              <li>
            <% } %>
                <a href="#">View Survey</a>
              </li>
              <li class="navbar-text">User:
                <%= displayName %>
              </li>
              <li>
                <a href="/logout">
                  <button type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-log-out"></span> Logout
                  </button>
                </a>
              </li>
            
          <!-- else display login and register buttons -->
          <% } else { %>
            <% if(title == "Home" ) { %>
              <li class="active">
            <% } else { %>
              <li>
            <% } %>
                <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
              </li>

              <li>
                <a href="/register">
                  <button type="button" class="btn btn-primary" aria-label="Left Align" >
                    Register
                  </button>
                </a>
              </li>  

              <li>
                <a href="/login">
                  <button type="button" class="btn btn-primary" aria-label="Left Align" >
                    Login
                  </button>
                </a>
              </li>
            <% } %>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <!-- if displayName is set then display the admin nav -->
          <% if (displayName) { %>
            <% if(title == "Home" ) { %>
              <li class="active">
            <% } else { %>
              <li>
            <% } %>
                <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
              </li>
            <% if(title == "Users" ) { %>
              <li class="active">
            <% } else { %>
              <li>
            <% } %>
                <a href="/users">User List</a>
              </li>
            <% if(title == "Create Survey" ) { %>
              <li class="active">
            <% } else { %>
              <li>
            <% } %>
                <a href="#">Create Survey</a>
              </li>
            <% if(title == "View Survey" ) { %>
              <li class="active">
            <% } else { %>
              <li>
            <% } %>
                <a href="#">View Survey</a>
              </li>
              <li class="navbar-text">User:
                <%= displayName %>
              </li>
              <li>
                <a href="/logout">
                  <button type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-log-out"></span> Logout
                  </button>
                </a>
              </li>
            
          <!-- else display login and register buttons -->
          <% } else { %>
            <% if(title == "Home" ) { %>
              <li class="active">
            <% } else { %>
              <li>
            <% } %>
                <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
              </li>

              <li>
                <a href="/register">
                  <button type="button" class="btn btn-primary" aria-label="Left Align" >
                    Register
                  </button>
                </a>
              </li>  

              <li>
                <a href="/login">
                  <button type="button" class="btn btn-primary" aria-label="Left Align" >
                    Login
                  </button>
                </a>
              </li>
            <% } %>
      </ul>
    </div>
  </nav>
  <div class="container">