<% include partials/header.ejs %>

      <div>
            <div class="panel panel-default">
                  <h1 align="center"><strong>Welcome to Surv-EZ!</strong></h1><br \>       
            </div>
      </div>
      
<% include partials/boot.ejs %>
<% include partials/footer.ejs %>
