<!-- Create Survey Page -->

<% include ../partials/header.ejs %>

	<main class="panel panel-default">
    	<h3><strong>Create Survey</strong></h3>
     
	</main>
	
<% include ../partials/boot.ejs %>
<% include ../partials/footer.ejs %>