<!-- Edit Survey Page (Admin Only) -->

<% include ../partials/header.ejs %>

<main>
    <h3><strong>Edit Survey</strong></h3>
    <div>
        <form method="post">
            <fieldset class="form-group">
                <label for="name">Survey Name: *</label>
                <input name="name" type="text" class="form-control" required value="<%= surveys.name %>" />
            </fieldset>
            <fieldset class="form-group">
                <label for="description">Description: *</label>
                <input name="description" type="text" class="form-control" required value="<%= surveys.description %>" />
            </fieldset>
            <fieldset class="form-group text-right">
                <button type="submit" class="waves-effect waves-light btn" title="Update">
                    <i class="fa fa-pencil-square-o"></i> Update
                </button>
                <a href="/survey/delete/<%= surveys._id %>" title="Delete" onclick="return confirm('Are you sure you want to delete this?');" class="waves-effect waves-light btn" style="background-color:red;">
                    <i class="fa fa-trash-o"></i> Delete
                </a>
                <a href="/survey/view" title="Cancel"  class="waves-effect waves-light btn">
                    <i class="fa fa-undo"></i>  Cancel
                </a>
            </fieldset>
        </form>
    </div>
</main>

<% include ../partials/boot.ejs %>
<% include ../partials/footer.ejs %>
