<!-- View Survey Page -->

<% include ../partials/header.ejs %>

	<main>
    	<h3><strong>Your Surveys</strong></h3>
     
	</main>
	
<% include ../partials/boot.ejs %>
<% include ../partials/footer.ejs %>
