<!-- View Survey Page -->

<% include ../partials/header.ejs %>

	<main class="panel panel-default">
    	<h3><strong>View Survey</strong></h3>
     
	</main>
	
<% include ../partials/boot.ejs %>
<% include ../partials/footer.ejs %>
